<template name="layout">
   {{>modalFinish}}
   <div class="container">
   <header class="navbar">
     <div class="navtitle">
        <a class="colorYellow font-20px" href="{{pathFor 'goalBrowse'}}">Living Triumphantly</a>
     </div> <br>
     <flexbox>
     	<a class="colorWhite" href="{{pathFor 'goalSearch'}}">Search</a>
     	<a class="colorWhite" href="{{pathFor 'goalBrowse'}}">Browse</a>
     	{{#if currentUser}}
     	<a class="colorWhite" href="{{pathFor 'goalSubmit'}}">Add</a>
     	<a class="colorWhite" href="{{pathFor 'goalPersonal'}}">My List</a>
     	{{/if}}
        <ul class="nav pull-right">
     		<li>{{> loginButtons align="right"}}</li>
     	</ul>
     </flexbox>
   </header>
   <div id="main" class="row-fluid">
      {{> yield}}
   </div>
   </div>
</template>
