/***************************
****************************
Global Styles
****************************
***************************/
flexbox{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 1% 1% 1% 1%;
}

h3{
	color:#260FBD;
}

/***************************
****************************
Common Simple Styles
****************************
***************************/
.bold{
	font-weight: bold;
}

.colorDarkBlue{
	color:#260FBD;
}

.colorYellow{
	color:#FFED02;
}

.colorWhite{
	color:white;
}

.borderRadius-5px{
	border-radius:5px;
}

.borderRadius-15px{
	border-radius:15px;
}

.buttonDarkBlue{
	background:#260FBD;
}

.buttonDarkBlue:hover{
	background:#1c0b8e;
}

.font-20px{
	font-size:20px;
}

.width-80px{
	width:80px;
}

.width-10{
	width:10%;
}
.width-25{
	width:25%;
}
.width-50{
	width:50%;
}
.width-70{
	width:70%;
}
.min-width320px{
	min-width: 320px;
}

.positionRelative{
	position:relative;
}

.noPadding{
	padding:0;
}

.noMargin{
	margin:0;
}

.flexWrap{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.thinBlueBorder{
	border-color: #260FBD;
	color:#260FBD;
	border: 2px solid;
}

.fillBlueBorder{
	background-color: #260FBD;
	border-color: #260FBD;
	color:#260FBD;
	border: 2px solid;
}

/***************************
****************************
Class Specific Styles
****************************
***************************/
/* navbar is styled by bootstrap*/
.navbar{
	border:2px solid;
	border-radius:5px;
	border-color:#260FBD;
	background-color:#260FBD;
}

.navtitle{
	min-width:100%;
	padding: 1% 1% 1% 1%;
}

.goalImage{
}
	.goalImage:hover .goalImageText{
	  	opacity: 1;  
	}
	
	.goalImage h2{
		position: absolute;
		background: rgba(0, 0, 0, 0.7);
		cursor: pointer;
  		display: inline-block;
		top: 100px;
		left: 0;
		width: 100%;
		opacity: 0;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms;
	}
	
		.goalImage h2 span {
		   color: white; 
		   font: bold 24px/45px Helvetica, Sans-Serif; 
		   letter-spacing: -1px;
		   padding: 10px;
		}
		
.goalDetail {
	width: calc(50% - 4px);
}

	.goalDetail p{
		padding: 0 1em 0 1em;
	}

.triumph {
	color: #260FBD;
	margin: 1em 0 1em 0;
	padding: 0 1em 0 1em;
	min-width: calc(100% - 2em);
	background-color: #FFED02;
	border-style: solid;
  	border-width: 2px;
  	border-color: #FFED02;
  	border-radius: 15px;
}

