flexbox{
	display:flex;
	justify-content:space-between;
	align-items:baseline;
	padding: 1% 1% 1% 1%;
}

h3{
	color:#260FBD;
}

.colorDarkBlue{
	color:#260FBD;
}

.buttonDarkBlue{
	background:#260FBD;
}

.buttonDarkBlue:hover{
	background:#1c0b8e;
}

.white{
	color:white;
}

.width-80px{
	width:80px;
}

.width-10{
	width:10%;
}
.width-25{
	width:25%;
}
.width-50{
	width:50%;
}

.goal{
	border: 2px solid;
	border-radius: 15px;
	border-color: #260FBD;
	color:#3940B2;
}

	.goal a{
		color:#3940B2;
	}

.goalPage{
	display: flex;
	align-items: flex-start;
	padding: 0;
	flex-wrap: wrap;
}

.goalImage{
  display: inline-block;
  height: auto;
  margin: 0;
  position: relative;
  width: 50%;
  min-width: 320px;
  padding: 0;
}
	.goalImage:hover .goalImageText{
	  	opacity: 1;  
	}

	.goalImage img{
		maxwidth: 100%;
	}
	
	.goalImage h2{
		position: absolute;
		background: rgba(0, 0, 0, 0.7);
		cursor: pointer;
  		display: inline-block;
		top: 100px;
		left: 0;
		width: 100%;
		opacity: 0;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms;
	}
	
		.goalImage h2 span {
		   color: white; 
		   font: bold 24px/45px Helvetica, Sans-Serif; 
		   letter-spacing: -1px;
		   padding: 10px;
		}
		
.goalDetail {
  display: inline-block;
  height: auto;
  margin: 0;
  position: relative;
  width: calc(50% - 4px);
  min-width: 320px;
  padding: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #260FBD;
}

	.goalDetail p{
		padding: 0 1em 0 1em;
	}

.goalDetailText{
	font-weight: bold;
}

.finishDialogue{
	min-width: 100%;
}

.triumph {
	color: #260FBD;
	margin: 1em 0 1em 0;
	padding: 0 1em 0 1em;
	min-width: calc(100% - 2em);
	background-color: #FFED02;
	border-style: solid;
  	border-width: 2px;
  	border-color: #FFED02;
  	border-radius: 15px;
}

.navtitle{
	min-width:100%;
	padding: 1% 1% 1% 1%;
}

	.navtitle a{
		font-size:20px;
		color:#FFED02;
	}

.navbar{
	border:2px solid;
	border-radius:5px;
	border-color:#260FBD;
	background-color:#260FBD;
}

.navLinks{
	width:70%;
}

.navLink{
	color:white;
}