<template name="goal">
	<flexbox class="thinBlueBorder borderRadius-15px">
		{{#if currentUser}}
		<input id={{upVoteId}} type="image" src={{upVoteLink}} alt="Submit">
		{{#if inUserListClosed}}
			<em class="width-80px">finished</em>
		{{else}}
			{{#if inUserListOpen}}
				<button class="btn buttonDarkBlue white width-80px" id="finishGoal" data-toggle="modal" data-target="#modalFinish" type="button"  value={{_id}}>Finish!</button>
			{{else}}
				<button class="btn width-80px" id="addGoal" type="button" value={{_id}}>Add</button>
			{{/if}}
		{{/if}}
		{{/if}}
		<a href="{{pathFor 'goalPage'}}" class="detail-btn colorDarkBlue width-50">{{summary}}</a>
		<b class="colorDarkBlue width-10">{{adds}}</b>
		<span class="colorDarkBlue">{{triumphsCount}} triumphs</span>
	</flexbox>
</template>