<template name="itemSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="url">Summary</label>
			<div class="controls">
				<input name="summary" type="text" value="" placeholder="Short Summary"/>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="message">Description</label>
			<div class="controls">
				<textarea name="detail" type="text" value=""></textarea>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>